* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.form-group>input {
    font-size: 16px;
}

.dadosEmpresa>p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}