* {
    font-family: 'Playfair Display', serif;
}

.parallax {
    background-image: url(../../assets/img/gopro.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p {
    font-size: 20px;
}

hr {
    width: 50%;
}

.card {
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}