<div class="container-md text-center w-100 mb-4">

    <h1>Câmera GoPro</h1>

    <div class="mx-auto w-80 text-justify">
        <p>A GoPro tem esse nome porque incentiva seus usuários a irem além, e produzirem imagens impressionantes. Ela foi criada inicialmente por apaixonados pela fotografia e esportes radicais, para capturar imagens incríveis que só poderiam ser visualizadas
            em primeira pessoa. Mas para poder fazer isso, a câmera teria que ser a prova d´água, resistir aos piores tombos e impactos fatais e ainda, possuir qualidade suficiente para valer a pena divulgar os vídeos em qualquer emissora de TV. Hoje
            a câmera é chamada pelo próprio fabricante de “câmera de ação”, o que reflete bem o fato dela ser um dos modelos mais populares do mundo, quando se trata do registro de vídeos e fotos radicais. Um dos principais motivos da escolha dela pelos
            praticantes de esportes, está no seu design compacto, no seu sistema avançado de estabilização de imagem, sua portabilidade e leveza, no seu case à prova d’água com proteção contra choques e os suportes que podem resistir aos mais variados
            esportes.
        </p>
    </div>

</div>

<div class="parallax"></div>

<section class="d-flex flex-wrap justify-content-around mt-3 text-center">


    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/gopro7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gopro 7 White</h5>
            <p class="card-text m-0 p-0">R$1.250,00 ou </p>
            <p><small>12x 104,16 sem juros</small></p>
            <a href="#" class="btn btn-outline-info">Comprar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/gopro7black.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Go Pro 7 Black</h5>
            <p class="card-text m-0 p-0">R$ 1.380,00 ou</p>
            <p><small>12x 115,00 sem juros</small></p>
            <a href="#" class="btn btn-outline-info">Comprar</a>
        </div>
    </div>

    <div class="card " style="width: 16rem; ">
        <img src="../../assets/img/gopromax.jpg" class="card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">GO Pro Max</h5>

            <p class="card-text m-0 p-0">R$ 3.500,00 ou </p>
            <p><small>12x 291,66 sem juros</small></p>
            <a href="# " class="btn btn-outline-info">Comprar</a>
        </div>
    </div>

</section>