<footer class="page-footer darken-3 pt-4 mt-4">

    <div class="container-sm">


        <div class="row">



            <ul class="col-md-12 text-center">
                <li>Contate-nos</li>

                <li>Siga-nos nas redes sociais:</li>
            </ul>



            <div class="col-md-12 text-center">


                <ul class=" social-network d-flex justify-content-center mt-5 ">
                    <li>
                        <a href=" " title="Facebook ">
                            <fa-icon [icon]='faFacebook' class="faFacebook fa-3x p-2 "></fa-icon>
                        </a>
                    </li>

                    <li>
                        <a href=" " title="Instagram ">
                            <fa-icon [icon]='faInstagram' class="faInstagram fa-3x p-2 "></fa-icon>
                        </a>
                    </li>

                    <li>
                        <a href=" " title="Youtube ">
                            <fa-icon [icon]='faYoutube' class="faYoutube fa-3x p-2 "></fa-icon>
                        </a>
                    </li>

                </ul>

            </div>


        </div>



        <div class=" text-center py-3 ">© 2020 Copyright:
            <a href="https://brazil.generation.org/ " target="_blank ">brazil.generation.org</a>
        </div>