<!-- Footer -->
<footer class="page-footer darken-3 pt-4 mt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!-- Video -->
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
                </div>

                <div class="d-flex justify-content-end">
                    <a class=" btn btn-outline-info " routerLink='/contato'>Contato</a>
                </div>
            </div>


            < <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-center py-3 ">© 2020 Copyright:
        <a href="https://brazil.generation.org/ " target="_blank ">brazil.generation.org</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->